.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*userlist*/

.list-container {
  max-width: 500px;
  margin: 0 auto;
}

.list-item {
  margin-bottom: 10px;
}

.create-user-button {
  margin-top: 20px;
}

/*userDetails*/
.container {
  display: flex;

  max-width: 500px;
  margin: 0 auto;
}

.details-card {
  margin-top: 20px;
}

.form{
  display: flex;
}